# ------------------------------------------------------------------------------
# .gitignore
# ------------------------------------------------------------------------------

# ------

# No need to track Ansible retry files
/*.retry

# Any private variable files
private.yml
